.ContactsList-item-fade-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.ContactsList-item-fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 250ms linear;
}

.ContactsList-item-fade-exit {
  opacity: 1;
  transform: translateX(0);
}

.ContactsList-item-fade-exit-active {
  opacity: 0;
  transform: translate(-100%);
  transition: all 250ms linear;
}
